body{
    background-color: beige;
   } 

.titulo{
    display:flex;
    justify-content: center;
    text-align: center;
}

.formulario {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    padding: 20px; 
    background-color:  #E4FEFF;; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}